<div id="env_{{ envelope.id }}" data-page="{{ keyEnv }}" class="env-container">
    <div class="p-2 card env-content" style="background-color: {{ envelope.color }};">
        <div class="card-header flex-center-y flex-column">
            <div class="flex-center-y">
                <a class="btn btn-xs btn-secondary btn-round me-2 change-env" data-sl="{{ keyEnv - 1 }}"><i class="fa fa-chevron-left"></i></a>
                <h2 class="h2">{{ envelope.name }}</h2>
                <a class="btn btn-xs btn-secondary btn-round ms-2 change-env" data-sr="{{ keyEnv + 1 }}"><i class="fa fa-chevron-right"></i></a>
            </div>
            <div>
                <a class="btn btn-xs btn-success add-item" data-code="cat" data-env="{{ envelope.id }}" data-tmp="ACT">Add Actif</a>
                <a class="btn btn-xs btn-danger add-item" data-code="cat" data-env="{{ envelope.id }}" data-tmp="PAS">Add Passif</a>
                <a class="btn btn-xs btn-secondary add-item" data-code="cat" data-env="{{ envelope.id }}" data-tmp="CAP">Add Capital</a>
                {% if keyEnv > 0 %}
                    <a class="delete-item" data-code="env" data-id="{{ envelope.id }}"><i class="fa fa-trash"></i></a>
                {% endif %}
            </div>
        </div>
        {% for category in envelope.categories %}
            {{ include('app/forecast/_category.html.twig', {
                category: category
            }) }}
        {% endfor %}
    </div>
</div>