<div class="leftbar bg-primary">
    <div class="leftbar-content d-flex flex-column justify-content-between">
        <nav class="leftbar-nav">
            <ul class="list-unstyled">
                <li><a href="{{ path('app_forecast_index') }}"><i class="fas fa-align-left"></i></a></li>
                <li><a href="{{ path('app_analysis_index') }}"><i class="fas fa-align-center"></i></a></li>
                <li><a href="{{ path('app_perform_index') }}"><i class="fas fa-align-right"></i></a></li>
            </ul>
        </nav>
        <nav class="leftbar-nav">
            <ul class="list-unstyled">
                <li><a href="{{ path('app_project_index') }}"><i class="fas fa-project-diagram"></i></a></li>
                <li><a href="{{ path('app_account_index') }}"><i class="fas fa-piggy-bank"></i></a></li>
                <li><a href="{{ path('usr_user_index') }}"><i class="fas fa-user"></i></a></li>
            </ul>
        </nav>
    </div>
</div>