{{ form_start(form, {'attr':{'id': 'form_item','data-code': 'rov','data-id': row_virtual.id}}) }}
    <div class="modal-body">
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="form-group">
            {{ form_label(form.value) }}
            {{ form_widget(form.value) }}
        </div>
        <div class="form-group">
            {{ form_label(form.debit) }}
            {{ form_widget(form.debit) }}
        </div>
        <div class="form-group">
            {{ form_label(form.frequency) }}
            {{ form_widget(form.frequency) }}
        </div>
    </div>
    <div class="modal-body">
        <button type="submit" class="btn btn-success m-auto d-block">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}