{% extends 'base.html.twig' %}

{% block title %}RowVirtual index{% endblock %}

{% block body %}
    <h1>RowVirtual index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>Debit</th>
                <th>Modified_at</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for row_virtual in row_virtuals %}
            <tr>
                <td>{{ row_virtual.id }}</td>
                <td>{{ row_virtual.name }}</td>
                <td>{{ row_virtual.value }}</td>
                <td>{{ row_virtual.debit ? 'Yes' : 'No' }}</td>
                <td>{{ row_virtual.modifiedAt ? row_virtual.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ row_virtual.createdAt ? row_virtual.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_row_virtual_show', {'id': row_virtual.id}) }}">show</a>
                    <a href="{{ path('app_row_virtual_edit', {'id': row_virtual.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_row_virtual_new') }}">Create new</a>
{% endblock %}
